<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Anagram Solver</title>
</head>
<body>
<h1>This is the solver html file.</h1>
<form method="post">
    <div>
        <p>
            <label>
                Your letters are:
                {% for letter in myLetters %}
                {{ letter.upper() }}
                {% endfor %}
            </label>
        </p>
    </div>
    <div>
        <a href="{{ url_for('index') }}">Another Anagram</a>
    </div>
</form>
</body>
</html>