{% extends "base.html" %}
{% block content %}

<h1 style="margin-top: 2em">This is the solver html file.</h1>
<form method="post">
    <div>
        <p>
            <label>
                Your letters are:
                {% for letter in myLetters %}
                {{ letter.upper() }}
                {% endfor %}
            </label>
        </p>
        <p>
                Your words are: <br>
                {% for word in myWords %}
                    {{ word.upper() }}  <a href="http://dictionary.reference.com/browse/{{word}}" target="_blank">Definition</a>
                    <br>
                {% endfor %}
        </p>
    </div>
    <div>
        <a href="{{ url_for('index') }}">Another Anagram</a>
    </div>
</form>

{% endblock %}